:root {
  --main-bg-color: #f5f7fa;
  --main-text-color: black;
  --card-bg-color: white;
  --normal-shadow: none;
  --tag-text-color: var(--main-text-color);
  --code-bg: #fafafa;
  --link-color: #0080ff;
  --all-tags-color: white;
}

@media(prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #111111;
    --main-text-color: white;
    --card-bg-color: #232323;
    --tag-text-color: black;
    --normal-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.05);
    --code-bg: #282c34;
  }
}

html {
  line-height: 1.7;
}

html,
body {
  margin: 0;
  padding: 0
}

body {
  background: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
}

div.head {
  display: flex;
  justify-content: space-between;
}

div.head a {
  color: var(--main-text-color);
  text-decoration: none;
}

div.head-title {
  flex-grow: 1;
  font-weight: bold;
}

div.head-title a {
  font-size: 1.5em;
}

div.head-nav {
  align-items: center;
  display: flex;
}

li {
  display: inline;
}

div.head-nav .nav-item {
  
}

div.main,
.main-card {
  max-width: 900px;
  display: block;
  margin: auto;
  padding: 10px;
  margin-top: 26.4px;
}

.main-card {
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--card-bg-color);
  box-shadow: var(--normal-shadow)
}

.item-list {
  align-items: left;
  padding-inline-start: 0px;
}

div.page {
  float: center;
  margin: auto;
  padding-top: 25px;
  max-width: 60%;
}

div.projlist {
  display: table;
  border-spacing: 20px;
}

div.projrow {
  display: table-row;
  width: auto;
  clear: both;
}

div.smallWidth-proj-title {
  display: none;
}

div.projrow-image {
  display: table-cell;
  width: 25%;
  align-items: center;
  vertical-align: middle;
}

div.projrow-image img {
  max-width: 100%;
  object-fit: contain;
}

div.projrow-text {
  display: table-cell;
  text-align: left;
  align-items: center;
  vertical-align: text-top;
}

.project-title {
  font-size: 1.3em;
  font-weight: bold;
} 


.tag-list-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.8em;
}

.tag-list-container .tag {
  margin-left: 10px !important;
}

.tag {
  padding: 5px;
  border-radius: 10px;
  background-color: lightgray;
  box-shadow: var(--normal-shadow);
  color: var(--tag-text-color);
}

.allTagsButton {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--link-color);
  /* box-shadow: var(--normal-shadow); */
  box-shadow: none;
  color: var(--tag-text-color);
  border-style: solid;
  border-color: var(--link-color);
  transition: 0.3s;
}


.allTagsButton,
.allTagsButton a,
.allTagsButton a:visited,
.allTagsButton a:hover,
.allTagsButton a:active {
  text-decoration: none;
  color: var(--all-tags-color) !important;
}

.allTagsButton:hover {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--card-bg-color);
  color:var(--main-text-color) !important;
  border-color: var(--link-color);
  border-style: solid;
  /* background-color: red ; */
}

.content {
  border-bottom: solid;
  border-bottom-color: lightgray;
  margin-bottom: 10px;
}

.nav-item {
  padding: 5px;
  transition: 0.3s;
  border-color: var(--main-bg-color);
  border-style: solid;
  border-radius: 5px;
  /* display: inline; */
}

.nav-item-box {
  padding: 16px;
}

.nav-item:hover,
.nav-item.selected {
  background-color: var(--card-bg-color);
  border-color: var(--link-color);
  border-style: solid;
}

.tipJar .nav-item:hover {
  border-radius: 5px;
  background: green !important;
  color: white !important;
  box-shadow: var(--normal-shadow);
  border-color: green;
}

video {
  max-width: 100%;
}

.content img {
  max-width: 100%;
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}

a,
a:visited,
a:hover,
a:active {
  color: var(--link-color);
}

code{
  font-size: 15px !important;
  background: var(--code-bg);
}

code {
  padding: .5em;
  border-radius: 5px;
}

.hljs > code {
  padding: 0em 0em !important;
}
.hljs {
  font-size: initial;
  line-height: 1.4;

}


.tag a,
.tag a:visited,
.tag a:hover,
.tag a:active {
  text-decoration: none !important;
  color: var(--tag-text-color);
}

.contentDate {
  font-size: 0.7em;
  font-style: italic;
}

.divider {
  height: 1px;
  width: 100%;
  background: gray;
}

@media screen and (max-width: 50em) {
  div.page {
    max-width: 95%;
  }
}

@media screen and (max-width: 50em) {

  div.head {
    display: flex;
    flex-direction: column;
  }
  div.head-title {
    text-align: center;
  }

  div.head-nav {
    display: flex;
    flex-direction: column;
  }
  .nav-item-box {
    padding: 5px;
  }

  div.projlist {
    display: block !important;
    align-content: center;
  }

  div.projrow {
    display: block !important;
    width: 100%;
    border-bottom: solid;
    border-bottom-color: gray;
    border-bottom-width: 50%;
    align-content: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  div.smallWidth-proj-title {
    display: block !important;
  }

  div.projrow-image,
  div.projrow-text {
    display: block !important;
    margin: auto;
    align-content: center;
    text-align: center !important;
  }

  .fullWidth-proj-title {
    display: none;
  }
}